name: profil_update_form
description: "A Flutter project for Profile Update Form."
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ">=3.9.2 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.8
  shared_preferences: ^2.2.2    # untuk simpan data profile
  image_picker: ^0.8.7+5        # untuk ganti foto profil

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true

  assets:
    - assets/images/Rosita.jpg   # path harus sesuai folder sebenarnya